<ion-view view-title="Homepage">
  <ion-content>
       <div class="homepage_buttons">
          <button ng-click="session()" class="button button-block button-dark button_large">
              Session
          </button>
          <button ng-click="schedule()" class="button button-block button-dark button_mid">
              Schedule 
          </button>
          <button ng-click="notes()"class="button button-block button-dark notes">
              Notes
          </button>
      </div>
  </ion-content>
</ion-view>
