<ion-view view-title="Schedule">
  <ion-content>
      <div class="schedule-buttons">
          <button class="button button-stable" ng-class="{'selected-phys': phys_selected}" ng-click="toggleSelected()">Physical Appointments</button>
          <button class="button button-stable" ng-class="{'selected-virt': virt_selected}" ng-click="toggleSelected()">Virtual Appointments</button>
      </div>

      <div class="calendar_bottom" ui-calendar="uiConfig.calendar" ng-model="eventSources">
  </ion-content>
</ion-view>
